{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% endblock %}
{% block contenido %}
<link href="{% static 'core/css/solicitud.css' %}" rel="stylesheet">


<div class="card">
    <div class="row">
        <div class="col-md-12 cart2">
          
            <style>
                .card {
                    background-color: #d3862f;
                    margin: auto;
                    margin-top: 100px;
                    margin-bottom: 100px;
                    padding: 50px;
                    width: 90%;
                    box-shadow: 0 6px 20px 0 rgb(217, 137, 39);
                    border-radius: 1rem;
                    color: #040303;
}
              </style>
              
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
              </form>
              
            
            
        </div>
    </div>
</div>

{% endblock %}