.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}


.redes_sociales{
    display: flex;
    justify-content: space-between;
    
    
}

.iniciar{
width:100% ;

}

body{
    
}